
p {
	font-family: monospace;
}

h2, h4 {
	margin: 5px;
}

.container-fluid {
	margin: 2%;
	padding: 5px;
}

.list-group {
	margin: 1%;
}

.button .glyphicon {
	padding: 10%;
}

.panel {
	margin: 1%;
}

.img-circle {
	display: block;
	height: 140px;
	width: 140px;
}

.form-inline {
	margin: 5px 20px;
	padding: 10px;
}
